# cache & local configs
.config
.config.old
include/config/
include/generated/
scripts/kconfig/
# logs
*.log
*.d

# images
*.cpio
*.iso
*.img

# build artifacts
*.o
*.elf
build/*
dist/
test.log
limine/limine

# unnecessary blobs
rootfs/usr/lib/libLLVM.so.19.1
rootfs/usr/bin/pipes

# vendored GNU make tree (configured & built; artifacts only)
user/kyrobox/make/
