# cache & local configs
.claude
.config
.config.old
include/config/
include/generated/
scripts/kconfig/
# logs
*.log
*.d

# images
*.cpio
*.iso
*.img

# build artifacts
*.o
*.elf
test_rootfs/*
build/*
iso_root/*
dist/
test.log
limine/limine

# unecessary blobs
rootfs/usr/lib/libLLVM.so.19.1
rootfs/usr/bin/pipes
