[Desktop Entry]
Type=Application
Name=Terminal
Comment=Weston terminal emulator
Icon=utilities-terminal
Exec=weston-terminal
Categories=System;TerminalEmulator;